
@{
    ViewBag.Title = "capmatkhaumoi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!-- Outer Row -->
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cấp lại mật khẩu</h1>
                </div>
                @if (ViewBag.mess != null)
                {
                    <div class="thongbao alert alert-danger">@ViewBag.mess</div>
                }
                <form class="user" action="@Url.Action("capmatkhaumoi","Default")" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Tên tài khoản" name="txtten" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="txtemail" required placeholder="Email">
                    </div>
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Cấp lại mật khẩu" />
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.thongbao').delay(5000).fadeOut(300);
</script>

